@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
  background: linear-gradient(to bottom, #302e2e, #fa2020) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
  height: 100vh;
  color: #fafafa;
}

.header__title{
  font-size: 2em;
}

.container {
  background: #FF6347 ;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 300px;
}

#countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  height: 10vh;
  color: black;
}

.buttons {
  position: relative;
}

.buttons__pause, .buttons__start, .buttons__reset{
  max-width: 50px;
}

.arrow-up, .arrow-down{
  height: 2em;
  width: 2em;
}

.arrow-up:active{
  transform: rotateY(30deg);
}

input{
  cursor: pointer;
}

#pause{
  display: none;
  position: absolute;
  max-width: 66px;
  text-align: center;
}

.time-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
}

button {
  background: transparent;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
}
